<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc.xsd"
    default-autowire="byName">

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="stringHttpMessageConverter"/>
                <ref bean="jsonHttpMessageConverter"/>
			</list>
		</property>
	</bean>

    <bean id="jsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />

	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

    <bean name="velocityTools" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="stringUtils">
                    <bean class="org.apache.commons.lang.StringUtils" />
                </entry>
                <entry key="stringEscapeUtils">
                    <bean class="org.apache.commons.lang.StringEscapeUtils" />
                </entry>

                <entry key="commonsDateFormatUtils">
                    <bean class="org.apache.commons.lang.time.DateFormatUtils" />
                </entry>
                <entry key="dateUtils">
                    <bean class="org.apache.commons.lang.time.DateUtils" />
                </entry>
                <entry key="math">
                    <bean class="org.apache.velocity.tools.generic.MathTool" />
                </entry>
                <entry key="system">
                    <bean class="java.lang.System" />
                </entry>
            </map>
        </constructor-arg>
    </bean>

</beans>
