<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!-- 设置超时时间，它决定驱动等待一个数据库响应的时间。  -->
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>

    <typeAliases>
        <!-- Domain -->
        <typeAlias type="com.cfysu.multi.domain.domain.User" alias="user"/>
    </typeAliases>

    <!--<plugins>-->
        <!--<plugin interceptor=""/>-->
    <!--</plugins>-->

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
            <property name="rowBoundsWithCount" value="true"/>
            <property name="offsetAsPageNum" value="false"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>